examples/examples-1.json
[
    {
        "id": "7cd973f172520fec",
        "type": "group",
        "z": "299de46f.fed57c",
        "g": "491c9326bcc39059",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c453449a.2a34a8",
            "bff180da7ef4c770",
            "cec323ebfe42f717",
            "4b4b8bc35b733b9d",
            "76596c9d7b35f7fa",
            "8cb4b6dcb483f9fd"
        ],
        "x": 354,
        "y": 79,
        "w": 512,
        "h": 362
    },
    {
        "id": "c453449a.2a34a8",
        "type": "template",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "make chart data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"dataItems\":[\n      {\n          \"group\": \"\",\n          \"data\": [\n              {\n                  \"label\": \"\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T09:10:00+09:00\",\n                              \"2020-12-31T08:00:00+09:00\"\n                          ],\n                          \"val\": \"1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T09:10:00+09:00\",\n                              \"2020-12-31T12:00:00+09:00\"\n                          ],\n                          \"val\": \"2\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:00:00+09:00\",\n                              \"2020-12-31T12:10:00+09:00\"\n                          ],\n                          \"val\": \"3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:10:00+09:00\",\n                              \"2020-12-31T12:20:00+09:00\"\n                          ],\n                          \"val\": \"4\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:20:00+09:00\",\n                              \"2020-12-31T12:30:00+09:00\"\n                          ],\n                          \"val\": \"5\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:30:00+09:00\",\n                              \"2020-12-31T22:00:00+09:00\"\n                          ],\n                          \"val\": \"6\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:00:00+09:00\",\n                              \"2021-01-01T00:10:00+09:00\"\n                          ],\n                          \"val\": \"1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:10:00+09:00\",\n                              \"2021-01-01T00:20:00+09:00\"\n                          ],\n                          \"val\": \"2\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:20:00+09:00\",\n                              \"2021-01-01T00:40:00+09:00\"\n                          ],\n                          \"val\": \"3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:00+09:00\",\n                              \"2021-01-01T00:40:01+09:00\"\n                          ],\n                          \"val\": \"4\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:01+09:00\",\n                              \"2021-01-01T00:40:02+09:00\"\n                          ],\n                          \"val\": \"5\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:02+09:00\",\n                              \"2021-01-01T00:40:03+09:00\"\n                          ],\n                          \"val\": \"6\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:04+09:00\",\n                              \"2021-01-01T00:40:05+09:00\"\n                          ],\n                          \"val\": \"7\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:05+09:00\",\n                              \"2021-01-01T00:40:10+09:00\"\n                          ],\n                          \"val\": \"8\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:10+09:00\",\n                              \"2021-01-01T00:40:15+09:00\"\n                          ],\n                          \"val\": \"9\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:15+09:00\",\n                              \"2021-01-01T00:40:30+09:00\"\n                          ],\n                          \"val\": \"10\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:30+09:00\",\n                              \"2021-01-01T01:00:00+09:00\"\n                          ],\n                          \"val\": \"11\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:00:00+09:00\",\n                              \"2021-01-01T01:10:00+09:00\"\n                          ],\n                          \"val\": \"12\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:10:00+09:00\",\n                              \"2021-01-01T01:30:00+09:00\"\n                          ],\n                          \"val\": \"13\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:30:00+09:00\",\n                              \"2021-01-01T02:00:00+09:00\"\n                          ],\n                          \"val\": \"14\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T02:00:00+09:00\",\n                              \"2021-01-01T03:00:00+09:00\"\n                          ],\n                          \"val\": \"15\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T03:00:00+09:00\",\n                              \"2021-01-01T04:00:00+09:00\"\n                          ],\n                          \"val\": \"16\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T04:00:00+09:00\",\n                              \"2021-01-01T05:00:00+09:00\"\n                          ],\n                          \"val\": \"17\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T05:00:00+09:00\",\n                              \"2021-01-01T06:00:00+09:00\"\n                          ],\n                          \"val\": \"18\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T06:00:00+09:00\",\n                              \"2021-01-01T07:00:00+09:00\"\n                          ],\n                          \"val\": \"19\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T07:00:00+09:00\",\n                              \"2021-01-01T08:00:00+09:00\"\n                          ],\n                          \"val\": \"20\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T08:00:00+09:00\",\n                              \"2021-01-01T09:00:00+09:00\"\n                          ],\n                          \"val\": \"21\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T09:00:00+09:00\",\n                              \"2021-01-01T10:00:00+09:00\"\n                          ],\n                          \"val\": \"22\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T10:00:00+09:00\",\n                              \"2021-01-01T11:00:00+09:00\"\n                          ],\n                          \"val\": \"15\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T11:00:00+09:00\",\n                              \"2021-01-01T12:00:00+09:00\"\n                          ],\n                          \"val\": \"16\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T12:00:00+09:00\",\n                              \"2021-01-01T13:00:00+09:00\"\n                          ],\n                          \"val\": \"17\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T13:00:00+09:00\",\n                              \"2021-01-01T14:00:00+09:00\"\n                          ],\n                          \"val\": \"18\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T14:00:00+09:00\",\n                              \"2021-01-01T15:00:00+09:00\"\n                          ],\n                          \"val\": \"19\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T15:00:00+09:00\",\n                              \"2021-01-01T16:00:00+09:00\"\n                          ],\n                          \"val\": \"20\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T17:00:00+09:00\",\n                              \"2021-01-01T18:00:00+09:00\"\n                          ],\n                          \"val\": \"21\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T19:00:00+09:00\",\n                              \"2021-01-01T20:00:00+09:00\"\n                          ],\n                          \"val\": \"22\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T20:00:00+09:00\",\n                              \"2021-01-01T21:00:00+09:00\"\n                          ],\n                          \"val\": \"23\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:00:00+09:00\",\n                              \"2021-01-01T22:10:00+09:00\"\n                          ],\n                          \"val\": \"24\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:10:00+09:00\",\n                              \"2021-01-01T22:20:00+09:00\"\n                          ],\n                          \"val\": \"25\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:20:00+09:00\",\n                              \"2021-01-01T22:30:00+09:00\"\n                          ],\n                          \"val\": \"26\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:30:00+09:00\",\n                              \"2021-01-01T22:31:00+09:00\"\n                          ],\n                          \"val\": \"27\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:31:00+09:00\",\n                              \"2021-01-01T22:35:00+09:00\"\n                          ],\n                          \"val\": \"28\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:35:00+09:00\",\n                              \"2021-01-01T22:40:00+09:00\"\n                          ],\n                          \"val\": \"29\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:40:00+09:00\",\n                              \"2021-01-02T23:59:59+09:00\"\n                          ],\n                          \"val\": \"30\"\n                      }\n                  ]\n              }\n          ]\n      }\n    ]\n}",
        "output": "json",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "f6fe68bfc979dde5"
            ]
        ]
    },
    {
        "id": "bff180da7ef4c770",
        "type": "function",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "make chart data",
        "func": "function getRandomData(ordinal = false) {\n\n  const NGROUPS = 3,\n    MAXLINES = 5,\n    MAXSEGMENTS = 10,\n    MAXCATEGORIES = 10,\n    // MINTIME = new Date(2018,1,1);\n    MINTIME = new Date(moment().startOf('day'));\n\n  const nCategories = Math.ceil(Math.random()*MAXCATEGORIES),\n    categoryLabels = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];\n\n  return [...Array(NGROUPS).keys()].map(i => ({\n    group: 'group' + (i+1),\n    data: getGroupData()\n  }));\n\n  function getGroupData() {\n\n    return [...Array(Math.ceil(Math.random()*MAXLINES)).keys()].map(i => ({\n      label: 'label' + (i+1),\n      data: getSegmentsData()\n    }));\n\n    //\n\n    function getSegmentsData() {\n      const nSegments = Math.ceil(Math.random()*MAXSEGMENTS),\n        segMaxLength = Math.round(((new Date())-MINTIME)/nSegments);\n      let runLength = MINTIME;\n\n      return [...Array(nSegments).keys()].map(i => {\n        const tDivide = [Math.random(), Math.random()].sort(),\n          start = new Date(runLength.getTime() + tDivide[0]*segMaxLength),\n          end = new Date(runLength.getTime() + tDivide[1]*segMaxLength);\n\n        runLength = new Date(runLength.getTime() + segMaxLength);\n\n        return {\n          timeRange: [start, end],\n          val: ordinal ? categoryLabels[Math.ceil(Math.random()*nCategories)] : Math.random()\n          //labelVal: is optional - only displayed in the labels\n        };\n      });\n\n    }\n  }\n}\n\nmsg.payload.dataItems = getRandomData(true);\nmsg.payload.startDateTime = moment().startOf('day');\nmsg.payload.endDateTime = moment().endOf('day');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "8cb4b6dcb483f9fd"
            ]
        ]
    },
    {
        "id": "cec323ebfe42f717",
        "type": "function",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "make chart data",
        "func": "function getRandomData(ordinal = false) {\n\n  const _d = new Date();\n\n  const NGROUPS = 1,\n    MAXLINES = 1,\n    MAXSEGMENTS = 9,\n    MAXCATEGORIES = 9,\n    MINTIME = new Date(_d.getFullYear(), _d.getMonth(), _d.getDate(), 0, 0, 0);\n\n  const nCategories = Math.ceil(Math.random()*MAXCATEGORIES),\n    categoryLabels = ['true','false','ERROR1','ERROR2','ERROR3','ERROR4','ERROR5','ERROR6','ERROR7'];\n\n  return [...Array(NGROUPS).keys()].map(i => ({\n    group: 'group' + (i+1),\n    data: getGroupData()\n  }));\n\n  function getGroupData() {\n\n    return [...Array(Math.ceil(Math.random()*MAXLINES)).keys()].map(i => ({\n      label: 'label' + (i+1),\n      data: getSegmentsData()\n    }));\n\n    //\n\n    function getSegmentsData() {\n      const nSegments = Math.ceil(Math.random()*MAXSEGMENTS),\n        segMaxLength = Math.round(((new Date())-MINTIME)/nSegments);\n      let runLength = MINTIME;\n\n      return [...Array(nSegments).keys()].map(i => {\n        const tDivide = [Math.random(), Math.random()].sort(),\n          start = new Date(runLength.getTime() + tDivide[0]*segMaxLength),\n          end = new Date(runLength.getTime() + tDivide[1]*segMaxLength);\n\n        runLength = new Date(runLength.getTime() + segMaxLength);\n\n        return {\n          timeRange: [start, end],\n          val: ordinal ? categoryLabels[Math.ceil(Math.random()*nCategories)] : Math.random()\n          //labelVal: is optional - only displayed in the labels\n        };\n      });\n\n    }\n  }\n}\n\nmsg.payload = {};\nmsg.payload.dataItems = getRandomData(true);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7f5e9c62.03fd64"
            ]
        ]
    },
    {
        "id": "4b4b8bc35b733b9d",
        "type": "function",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "make chart data",
        "func": "function getRandomData(ordinal = false) {\n\n  const _d = new Date();\n\n  const NGROUPS = 2,\n    MAXLINES = 2,\n    MAXSEGMENTS = 4,\n    MAXCATEGORIES = 4,\n    MINTIME = new Date(_d.getFullYear(), _d.getMonth(), _d.getDate(), 0, 0, 0);\n\n  const nCategories = Math.ceil(Math.random()*MAXCATEGORIES),\n    categoryLabels = ['error1','error2','error3','error4'];\n\n  return [...Array(NGROUPS).keys()].map(i => ({\n    group: 'machine' + (i+1),\n    data: getGroupData()\n  }));\n\n  function getGroupData() {\n\n    return [...Array(Math.ceil(Math.random()*MAXLINES)).keys()].map(i => ({\n      label: 'label' + (i+1),\n      data: getSegmentsData()\n    }));\n\n    //\n\n    function getSegmentsData() {\n      const nSegments = Math.ceil(Math.random()*MAXSEGMENTS),\n        segMaxLength = Math.round(((new Date())-MINTIME)/nSegments);\n      let runLength = MINTIME;\n\n      return [...Array(nSegments).keys()].map(i => {\n        const tDivide = [Math.random(), Math.random()].sort(),\n          start = new Date(runLength.getTime() + tDivide[0]*segMaxLength),\n          end = new Date(runLength.getTime() + tDivide[1]*segMaxLength);\n\n        runLength = new Date(runLength.getTime() + segMaxLength);\n\n        return {\n          timeRange: [start, end],\n          val: ordinal ? categoryLabels[Math.ceil(Math.random()*nCategories)] : Math.random()\n          //labelVal: is optional - only displayed in the labels\n        };\n      });\n\n    }\n  }\n}\n\nmsg.payload = {};\nmsg.payload.dataItems = getRandomData(true);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "349a939e.2441fc"
            ]
        ]
    },
    {
        "id": "76596c9d7b35f7fa",
        "type": "comment",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "Create chart data from the database to input to \"Timelines-chart\".",
        "info": "",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "8cb4b6dcb483f9fd",
        "type": "template",
        "z": "299de46f.fed57c",
        "g": "7cd973f172520fec",
        "name": "make msg.payload.settings",
        "field": "payload.settings",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"xAxis\":{\n        \"xTickFormat\": \"HH\",\n        \"startDateTime\": \"{{payload.startDateTime}}\",\n        \"endDateTime\": \"{{payload.endDateTime}}\",\n        \"labelsFontSize\": 16,\n        \"labelsColor\": \"#000000\"\n    },\n    \"yAxis\": {\n        \"labelsFontSize\": 16,\n        \"labelsColor\": \"#cccccc\"\n    },\n    \"resetZoom\": {\n        \"labelFontSize\": 32,\n        \"labelColor\": \"#000000\"\n    },\n    \"chart\": {\n        \"topMargin\": 60,\n        \"height\": 20,\n        \"lineColors\": [\n          { \"statusColor\": \"#000000\", \"statusValue\": \"A\" },\n          { \"statusColor\": \"#ffee00\", \"statusValue\": \"B\" },\n          { \"statusColor\": \"#1100ff\", \"statusValue\": \"C\" },\n          { \"statusColor\": \"#00bfff\", \"statusValue\": \"D\" },\n          { \"statusColor\": \"#00ff62\", \"statusValue\": \"E\" },\n          { \"statusColor\": \"#ff0000\", \"statusValue\": \"F\" },\n          { \"statusColor\": \"#ee7272\", \"statusValue\": \"G\" },\n          { \"statusColor\": \"#00bfff\", \"statusValue\": \"H\" },\n          { \"statusColor\": \"#ffa200\", \"statusValue\": \"I\" },\n          { \"statusColor\": \"#8000ff\", \"statusValue\": \"J\" },\n          { \"statusColor\": \"#000000\", \"statusValue\": \"K\" },\n          { \"statusColor\": \"#317881\", \"statusValue\": \"L\" },\n          { \"statusColor\": \"#dc6f6f\", \"statusValue\": \"M\" },\n          { \"statusColor\": \"#007bff\", \"statusValue\": \"N\" },\n          { \"statusColor\": \"#ff941a\", \"statusValue\": \"O\" },\n          { \"statusColor\": \"#fbec23\", \"statusValue\": \"P\" },\n          { \"statusColor\": \"#47bac2\", \"statusValue\": \"R\" },\n          { \"statusColor\": \"#c53030\", \"statusValue\": \"S\" },\n          { \"statusColor\": \"#00ffbf\", \"statusValue\": \"T\" },\n          { \"statusColor\": \"#313bbf\", \"statusValue\": \"U\" },\n          { \"statusColor\": \"#00ff33\", \"statusValue\": \"V\" },\n          { \"statusColor\": \"#47bd8a\", \"statusValue\": \"W\" },\n          { \"statusColor\": \"#efff0a\", \"statusValue\": \"X\" },\n          { \"statusColor\": \"#ff0000\", \"statusValue\": \"Y\" },\n          { \"statusColor\": \"#ff00a2\", \"statusValue\": \"Z\" }\n        ]\n    },\n    \"options\": {\n        \"enableAnimations\": true,\n        \"enableDateMarker\": true\n    }\n}",
        "output": "json",
        "x": 720,
        "y": 160,
        "wires": [
            [
                "9ca8de59a4d3c560"
            ]
        ]
    }
]