examples/examples-1.json
[{"id":"299de46f.fed57c","type":"tab","label":"fllow 1","disabled":false,"info":""},{"id":"ead3fc9.832a3","type":"ui_group","name":"Group 1","tab":"35250d78.e38892","order":1,"disp":true,"width":"30","collapse":true},{"id":"b34577b7.7dc8e8","type":"ui_group","name":"Group 2","tab":"35250d78.e38892","order":2,"disp":true,"width":"30","collapse":true},{"id":"35250d78.e38892","type":"ui_tab","name":"HOME","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97d6774.304e58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a139a777.1c72f8","type":"inject","z":"299de46f.fed57c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["c453449a.2a34a8"]]},{"id":"c453449a.2a34a8","type":"template","z":"299de46f.fed57c","name":"timelines-chart-1","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n      {\n          \"group\": \"\",\n          \"data\": [\n              {\n                  \"label\": \"\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T08:00:00+09:00\",\n                              \"2020-12-31T09:10:00+09:00\"\n                          ],\n                          \"val\": \"1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T09:10:00+09:00\",\n                              \"2020-12-31T12:00:00+09:00\"\n                          ],\n                          \"val\": \"2\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:00:00+09:00\",\n                              \"2020-12-31T12:10:00+09:00\"\n                          ],\n                          \"val\": \"3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:10:00+09:00\",\n                              \"2020-12-31T12:20:00+09:00\"\n                          ],\n                          \"val\": \"4\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:20:00+09:00\",\n                              \"2020-12-31T12:30:00+09:00\"\n                          ],\n                          \"val\": \"5\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2020-12-31T12:30:00+09:00\",\n                              \"2020-12-31T22:00:00+09:00\"\n                          ],\n                          \"val\": \"6\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:00:00+09:00\",\n                              \"2021-01-01T00:10:00+09:00\"\n                          ],\n                          \"val\": \"1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:10:00+09:00\",\n                              \"2021-01-01T00:20:00+09:00\"\n                          ],\n                          \"val\": \"2\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:20:00+09:00\",\n                              \"2021-01-01T00:40:00+09:00\"\n                          ],\n                          \"val\": \"3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:00+09:00\",\n                              \"2021-01-01T00:40:01+09:00\"\n                          ],\n                          \"val\": \"4\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:01+09:00\",\n                              \"2021-01-01T00:40:02+09:00\"\n                          ],\n                          \"val\": \"5\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:02+09:00\",\n                              \"2021-01-01T00:40:03+09:00\"\n                          ],\n                          \"val\": \"6\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:04+09:00\",\n                              \"2021-01-01T00:40:05+09:00\"\n                          ],\n                          \"val\": \"7\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:05+09:00\",\n                              \"2021-01-01T00:40:10+09:00\"\n                          ],\n                          \"val\": \"8\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:10+09:00\",\n                              \"2021-01-01T00:40:15+09:00\"\n                          ],\n                          \"val\": \"9\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:15+09:00\",\n                              \"2021-01-01T00:40:30+09:00\"\n                          ],\n                          \"val\": \"10\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:40:30+09:00\",\n                              \"2021-01-01T01:00:00+09:00\"\n                          ],\n                          \"val\": \"11\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:00:00+09:00\",\n                              \"2021-01-01T01:10:00+09:00\"\n                          ],\n                          \"val\": \"12\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:10:00+09:00\",\n                              \"2021-01-01T01:30:00+09:00\"\n                          ],\n                          \"val\": \"13\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T01:30:00+09:00\",\n                              \"2021-01-01T02:00:00+09:00\"\n                          ],\n                          \"val\": \"14\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T02:00:00+09:00\",\n                              \"2021-01-01T03:00:00+09:00\"\n                          ],\n                          \"val\": \"15\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T03:00:00+09:00\",\n                              \"2021-01-01T04:00:00+09:00\"\n                          ],\n                          \"val\": \"16\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T04:00:00+09:00\",\n                              \"2021-01-01T05:00:00+09:00\"\n                          ],\n                          \"val\": \"17\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T05:00:00+09:00\",\n                              \"2021-01-01T06:00:00+09:00\"\n                          ],\n                          \"val\": \"18\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T06:00:00+09:00\",\n                              \"2021-01-01T07:00:00+09:00\"\n                          ],\n                          \"val\": \"19\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T07:00:00+09:00\",\n                              \"2021-01-01T08:00:00+09:00\"\n                          ],\n                          \"val\": \"20\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T08:00:00+09:00\",\n                              \"2021-01-01T09:00:00+09:00\"\n                          ],\n                          \"val\": \"21\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T09:00:00+09:00\",\n                              \"2021-01-01T10:00:00+09:00\"\n                          ],\n                          \"val\": \"22\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T10:00:00+09:00\",\n                              \"2021-01-01T11:00:00+09:00\"\n                          ],\n                          \"val\": \"15\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T11:00:00+09:00\",\n                              \"2021-01-01T12:00:00+09:00\"\n                          ],\n                          \"val\": \"16\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T12:00:00+09:00\",\n                              \"2021-01-01T13:00:00+09:00\"\n                          ],\n                          \"val\": \"17\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T13:00:00+09:00\",\n                              \"2021-01-01T14:00:00+09:00\"\n                          ],\n                          \"val\": \"18\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T14:00:00+09:00\",\n                              \"2021-01-01T15:00:00+09:00\"\n                          ],\n                          \"val\": \"19\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T15:00:00+09:00\",\n                              \"2021-01-01T16:00:00+09:00\"\n                          ],\n                          \"val\": \"20\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T17:00:00+09:00\",\n                              \"2021-01-01T18:00:00+09:00\"\n                          ],\n                          \"val\": \"21\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T19:00:00+09:00\",\n                              \"2021-01-01T20:00:00+09:00\"\n                          ],\n                          \"val\": \"22\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T20:00:00+09:00\",\n                              \"2021-01-01T21:00:00+09:00\"\n                          ],\n                          \"val\": \"23\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:00:00+09:00\",\n                              \"2021-01-01T22:10:00+09:00\"\n                          ],\n                          \"val\": \"24\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:10:00+09:00\",\n                              \"2021-01-01T22:20:00+09:00\"\n                          ],\n                          \"val\": \"25\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:20:00+09:00\",\n                              \"2021-01-01T22:30:00+09:00\"\n                          ],\n                          \"val\": \"26\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:30:00+09:00\",\n                              \"2021-01-01T22:31:00+09:00\"\n                          ],\n                          \"val\": \"27\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:31:00+09:00\",\n                              \"2021-01-01T22:35:00+09:00\"\n                          ],\n                          \"val\": \"28\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:35:00+09:00\",\n                              \"2021-01-01T22:40:00+09:00\"\n                          ],\n                          \"val\": \"29\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T22:40:00+09:00\",\n                              \"2021-01-02T23:59:59+09:00\"\n                          ],\n                          \"val\": \"30\"\n                      }\n                  ]\n              }\n          ]\n      }\n    ]","output":"json","x":320,"y":120,"wires":[["28d3369c.4afcaa"]]},{"id":"28d3369c.4afcaa","type":"ui_timelines_chart","z":"299de46f.fed57c","group":"ead3fc9.832a3","name":"timelines-chart-1","order":2,"label":"timelines-chart-1","width":"0","height":"0","storeOutMessages":true,"fwdInMessages":true,"graphColors":[{"statusColor":"#000000","statusValue":"1"},{"statusColor":"#ffee00","statusValue":"2"},{"statusColor":"#1100ff","statusValue":"3"},{"statusColor":"#00bfff","statusValue":"4"},{"statusColor":"#00ff62","statusValue":"5"},{"statusColor":"#ff0000","statusValue":"6"},{"statusColor":"#ee7272","statusValue":"7"},{"statusColor":"#00bfff","statusValue":"8"},{"statusColor":"#ffa200","statusValue":"9"},{"statusColor":"#8000ff","statusValue":"10"}],"xaxisDiv":"default","xaxisDateformat":"MM-DD HH:mm","xaxisStartDate":"2020-12-31 06:00:00+09:00","xaxisEndDate":"2021-01-02 00:00:00+09:00","maxLineHeight":"60","x":520,"y":120,"wires":[["b123d4bb.967e08"]]},{"id":"b123d4bb.967e08","type":"debug","z":"299de46f.fed57c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"acf55e6a.5eebd","type":"inject","z":"299de46f.fed57c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["e36a4bfd.963588"]]},{"id":"e36a4bfd.963588","type":"template","z":"299de46f.fed57c","name":"timelines-chart-2","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n      {\n          \"group\": \"\",\n          \"data\": [\n              {\n                  \"label\": \"\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T00:43:43.070+09:00\",\n                              \"2021-08-01T01:02:32.293+09:00\"\n                          ],\n                          \"val\": \"false\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T01:02:32.293+09:00\",\n                              \"2021-08-01T05:33:32.293+09:00\"\n                          ],\n                          \"val\": \"true\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T05:33:32.293+09:00\",\n                              \"2021-08-01T08:11:11.111+09:00\"\n                          ],\n                          \"val\": \"ERROR1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T08:00:00.000+09:00\",\n                              \"2021-08-01T13:00:00.000+09:00\"\n                          ],\n                          \"val\": \"ERROR2\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T14:00:00.000+09:00\",\n                              \"2021-08-01T15:00:00.000+09:00\"\n                          ],\n                          \"val\": \"ERROR3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T16:00:00.000+09:00\",\n                              \"2021-08-01T17:00:00.000+09:00\"\n                          ],\n                          \"val\": \"ERROR4\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T17:00:00.000+09:00\",\n                              \"2021-08-01T18:00:00.000+09:00\"\n                          ],\n                          \"val\": \"ERROR5\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T18:00:00.000+09:00\",\n                              \"2021-08-01T19:00:00.000+09:00\"\n                          ],\n                          \"val\": \"ERROR1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-08-01T19:00:00.000+09:00\",\n                              \"2021-08-01T23:59:59.000+09:00\"\n                          ],\n                          \"val\": \"ERROR2\"\n                      }\n                  ]\n              }\n          ]\n      }\n    ]","output":"json","x":320,"y":200,"wires":[["7f5e9c62.03fd64"]]},{"id":"7f5e9c62.03fd64","type":"ui_timelines_chart","z":"299de46f.fed57c","group":"b34577b7.7dc8e8","name":"timelines-chart-2","order":0,"label":"timelines-chart-2","width":"15","height":"8","storeOutMessages":true,"fwdInMessages":true,"graphColors":[{"statusColor":"#000000","statusValue":"false"},{"statusColor":"#ff0000","statusValue":"true"},{"statusColor":"#ffee00","statusValue":"ERROR1"},{"statusColor":"#1100ff","statusValue":"ERROR2"},{"statusColor":"#00bfff","statusValue":"ERROR3"},{"statusColor":"#00ff62","statusValue":"ERROR4"},{"statusColor":"#ff0080","statusValue":"ERROR5"}],"xaxisDiv":"3600","xaxisDateformat":"HH:mm","xaxisStartDate":"","xaxisEndDate":"","maxLineHeight":"60","x":520,"y":200,"wires":[["4c554da1.775324"]]},{"id":"4c554da1.775324","type":"debug","z":"299de46f.fed57c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"28e6ce38.b125f2","type":"inject","z":"299de46f.fed57c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["2c7e8ba6.73e494"]]},{"id":"d6480b66.212d38","type":"debug","z":"299de46f.fed57c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"2c7e8ba6.73e494","type":"template","z":"299de46f.fed57c","name":"timelines-chart-3","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n      {\n          \"group\": \"machine1\",\n          \"data\": [\n              {\n                  \"label\": \"case1\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:43:43.070+09:00\",\n                              \"2021-01-01T10:00:00.000+09:00\"\n                          ],\n                          \"val\": \"error1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T11:00:00.000+09:00\",\n                              \"2021-01-01T13:10:00.000+09:00\"\n                          ],\n                          \"val\": \"error1\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T15:00:00.000+09:00\",\n                              \"2021-01-01T16:30:00.000+09:00\"\n                          ],\n                          \"val\": \"error1\"\n                      }\n                  ]\n              },\n              {\n                  \"label\": \"case2\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T12:00:00.000+09:00\",\n                              \"2021-01-01T23:59:32.293+09:00\"\n                          ],\n                          \"val\": \"error2\"\n                      }\n                  ]\n              }\n          ]\n      },\n      {\n          \"group\": \"machine2\",\n          \"data\": [\n              {\n                  \"label\": \"case1\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T00:00:00.000+09:00\",\n                              \"2021-01-01T10:00:00.000+09:00\"\n                          ],\n                          \"val\": \"error3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T12:00:00.000+09:00\",\n                              \"2021-01-01T13:00:00.000+09:00\"\n                          ],\n                          \"val\": \"error3\"\n                      },\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T16:00:00.000+09:00\",\n                              \"2021-01-01T19:00:00.000+09:00\"\n                          ],\n                          \"val\": \"error3\"\n                      }\n                  ]\n              },\n              {\n                  \"label\": \"case2\",\n                  \"data\": [\n                      {\n                          \"timeRange\": [\n                              \"2021-01-01T10:00:00.000+09:00\",\n                              \"2021-01-01T20:00:00.000+09:00\"\n                          ],\n                          \"val\": \"error4\"\n                      }\n                  ]\n              }\n          ]\n      }      \n]","output":"json","x":320,"y":280,"wires":[["349a939e.2441fc"]]},{"id":"349a939e.2441fc","type":"ui_timelines_chart","z":"299de46f.fed57c","group":"b34577b7.7dc8e8","name":"timelines-chart-3","order":0,"label":"timelines-chart-3","width":"15","height":"8","storeOutMessages":true,"fwdInMessages":true,"graphColors":[{"statusColor":"#ffc800","statusValue":"error1"},{"statusColor":"#d400ff","statusValue":"error2"},{"statusColor":"#ff0000","statusValue":"error3"},{"statusColor":"#1eff00","statusValue":"error4"}],"xaxisDiv":"default","xaxisDateformat":"HH:mm","xaxisStartDate":"","xaxisEndDate":"","maxLineHeight":"20","x":520,"y":280,"wires":[["d6480b66.212d38"]]},{"id":"bff180da7ef4c770","type":"function","z":"299de46f.fed57c","name":"getRandomData","func":"function getRandomData(ordinal = false) {\n\n  const NGROUPS = 3,\n    MAXLINES = 3,\n    MAXSEGMENTS = 10,\n    MAXCATEGORIES = 20,\n    MINTIME = new Date(2018,1,1);\n\n  const nCategories = Math.ceil(Math.random()*MAXCATEGORIES),\n    categoryLabels = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];\n\n  return [...Array(NGROUPS).keys()].map(i => ({\n    group: 'group' + (i+1),\n    data: getGroupData()\n  }));\n\n  function getGroupData() {\n\n    return [...Array(Math.ceil(Math.random()*MAXLINES)).keys()].map(i => ({\n      label: 'label' + (i+1),\n      data: getSegmentsData()\n    }));\n\n    //\n\n    function getSegmentsData() {\n      const nSegments = Math.ceil(Math.random()*MAXSEGMENTS),\n        segMaxLength = Math.round(((new Date())-MINTIME)/nSegments);\n      let runLength = MINTIME;\n\n      return [...Array(nSegments).keys()].map(i => {\n        const tDivide = [Math.random(), Math.random()].sort(),\n          start = new Date(runLength.getTime() + tDivide[0]*segMaxLength),\n          end = new Date(runLength.getTime() + tDivide[1]*segMaxLength);\n\n        runLength = new Date(runLength.getTime() + segMaxLength);\n\n        return {\n          timeRange: [start, end],\n          val: ordinal ? categoryLabels[Math.ceil(Math.random()*nCategories)] : Math.random()\n          //labelVal: is optional - only displayed in the labels\n        };\n      });\n\n    }\n  }\n}\n\nmsg.payload = getRandomData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":40,"wires":[["9ca8de59a4d3c560"]]},{"id":"36a1bb954d1be862","type":"inject","z":"299de46f.fed57c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["bff180da7ef4c770"]]},{"id":"7d8a882c438c1cb9","type":"debug","z":"299de46f.fed57c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":40,"wires":[]},{"id":"9ca8de59a4d3c560","type":"ui_timelines_chart","z":"299de46f.fed57c","group":"ead3fc9.832a3","name":"timelines-chart-0","order":1,"label":"timelines-chart-0","width":"0","height":"0","storeOutMessages":true,"fwdInMessages":true,"graphColors":[{"statusColor":"#000000","statusValue":""},{"statusColor":"#ffee00","statusValue":""},{"statusColor":"#1100ff","statusValue":""},{"statusColor":"#00bfff","statusValue":""},{"statusColor":"#00ff62","statusValue":""},{"statusColor":"#ff0000","statusValue":""},{"statusColor":"#ee7272","statusValue":""},{"statusColor":"#00bfff","statusValue":""},{"statusColor":"#ffa200","statusValue":""},{"statusColor":"#8000ff","statusValue":""}],"xaxisDiv":"default","xaxisDateformat":"YYYY-MM-DD","xaxisStartDate":"","xaxisEndDate":"","maxLineHeight":"20","x":520,"y":40,"wires":[["7d8a882c438c1cb9"]]}]